<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ex3</title>

    <link rel="stylesheet" href="../CSS/ex3.css">
</head>
<body>
    <header class="header">
        <!-- <div>
            Trang chủ
        </div>
        <div class="SP">
            Sản phẩm
        </div>
        <div>
            Dịch vụ
        </div>
        <div>
            Giới thiệu
        </div>
        <div>
            Liên hệ
        </div> -->
        <nav class="nav">
            <ul class="main-menu">
                <li class="option-menu">
                   <a href="#" class="option">Trang chủ</a>
                   <!-- menu con của trang chủ -->
                   <div class="mega-menu">
                        <ul class="menu2">
                            <li class="option-menu">
                                <a href="#" class="option">Trang chủ</a> 
                             </li>
                             <li class="option-menu">
                                 <a href="#" class="option" color>Sản phẩm</a> 
                             </li>
                             <li class="option-menu">
                                 <a href="#" class="option">Dịch vụ</a>
                             </li>
                             <li class="option-menu">
                                 <a href="#" class="option">Giới thiệu</a>
                             </li>
                             <li class="option-menu">
                                 <a href="#" class="option">Liên hệ</a>
                             </li>
                        </ul>
                   </div>   
                </li>
                <li class="option-menu">
                    <a href="#" class="option" color>Sản phẩm</a>
                    <!-- menu sản phẩm -->
                </li>
                <li class="option-menu">
                    <a href="#" class="option">Dịch vụ</a>
                    <div class="mega-menu">
                        <ul class="menu2">
                            <li class="option-menu">
                                <a href="#" class="option">Trang chủ</a> 
                             </li>
                             <li class="option-menu">
                                 <a href="#" class="option" color>Sản phẩm</a> 
                             </li>
                             <li class="option-menu">
                                 <a href="#" class="option">Dịch vụ</a>
                             </li>
                             <li class="option-menu">
                                 <a href="#" class="option">Giới thiệu</a>
                             </li>
                             <li class="option-menu">
                                 <a href="#" class="option">Liên hệ</a>
                             </li>
                        </ul>
                   </div>   
                </li>
                <li class="option-menu">
                    <a href="#" class="option">Giới thiệu</a>
                </li>
                <li class="option-menu">
                    <a href="#" class="option">Liên hệ</a>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>