<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <h1>Form</h1>
    <pre>
        I: Mục tiêu:
            -Cấu trúc
            -Cú pháp tạo form
            - Danh sách các element nhập liệu
            -Ứng dụng các element nhập liệu để hoàn thiện form
    </pre>

    <form action="" method="" enctypy="" id="form" >
        <div>
            <input type="text" placeholder="Họ và Tên">
            <input type="text" value="Devmaster">
            <input type="number" value="5">
            <input type="password" value="abcd">
        </div>
        <div>
            <input type="date">
            <input type="radio" checked name="gender" value="Nam">Nam
            <input type="radio" name="gender" value="Nữ">Nữ
        </div>
        <div>
            <input type="checkbox" name="so_thich" value="bóng đá">Bóng đá
            <input type="checkbox" name="so_thich" value="Bơi">Bơi
            <input type="checkbox" name="so_thich" value="Hát">Hát

            <input type="submit" name="" value="click dev">
        </div>
        <!-- <select name="" id="">
            <option value=""></option>
        </select>
        <textarea name="" id="" cols="30" rows="10"></textarea> -->
    </form>

    <br>
    <hr>
    <form action="">
        <div>
            <input type="email" name="email" placeholder="email" style="width:250px; padding:4px 8px">
        </div>
        <div>
            <input type="password" name="password" placeholder="password" style="width:250px; padding:4px 8px">
        </div>

        <div>
            <input type="submit" name="" value="Đăng nhập" style="width:270px; padding:4px 8px; background-color:bisque;margin-top:20px ;">
        </div>
        <br>
        <hr>
        <select name="select" id="select">
            <option value="0">Hải Phòng</option>
            <option value="1" selected>Hà Nội</option>
            <option value="2">Hà Nam</option>
        </select>

    </form>
    <textarea name="String" id="string" cols="30" rows="10"></textarea>
    <!-- BT3-6-7 -->
</body>
</html>