<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Review less 01</h1>
    <pre>
        1. HTML là gì? Không phải là một ngôn ngữ lập trình
        2. Cấu trúc 1 trang HTML 
            -gồm 2 phần: + head: chứa các thẻ meta, thẻ link, thẻ scripts
                        + body: chứa nội dung
        3. Một số các element thông dụng & cách sử dụng:
            Văn bản: tiêu đề, nội dung, các biểu diễn đặc biệt,...
            Danh sách: ul-li,ol-li,dl,-dt-dd
            Siêu liên kết: thẻ a 
            Biểu diễn hình ảnh: img 
            *) đa số các thẻ element đều cần có thẻ đóng và mở 
        4. Các kết hợp element để biểu diễn:  
    </pre>
</body>
</html>