<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ex01.html</title>
</head>
<body>
    
        <fieldset>
             <center>
                <h2>
                    <font color="#000080">THÔNG TIN SINH VIÊN</font>
                </h2>
             </center>
             <br>
             <P>
                <b>Họ tên sinh viên: <font color="red">Nguyễn Văn A</font> - <font color="#66FFCC" size="5">0912345</font></b>
             </P>
             <br>
             <p>
                <b>Lớp: <font size="5" color="red">09</font><font size="2">ITEC</font></b>
             </p>
             <br>
             <p>
                <b>Môn học: </b><sup>Nhập môn</sup><b>Thiết kế <u><font color="#0000FF">&</font></u> Lập trình W</b><sup>a</sup><sub>b</sub>
             </p>

        </fieldset>
    
</body>
</html>