<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ex02.html</title>
</head>
<body>
    <center>
        <h1 style="background-color:red">Việt Bắc</h1>
        <br>
        <pre style="background-color:#CCFF00; font-family:verdana">
                Mình về mình có nhớ ta?
            Mười lăm năm ấy thiết tha mặn nồng.
                Mình về mình có nhớ không
            Nhìn cây nhớ núi, nhìn sông nhớ nguồn? 
        </pre>
        <br>
        <pre style="background-color:#FFCCFF; font-family:verdana">
                Tiếng ai tha thiết bên cồn
            Bâng khuâng trong dạ, bồn chồn bước đi
                Áo chàm đưa buổi phân ly
            Cầm tay nhau biết nói gì hôm nay…
        </pre>
    </center>
</body>
</html>