<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ex3</title>

    <link rel="stylesheet" href="../CSS/ex3.css">
</head>
<body>
    <header class="header">
        <!-- <div>
            Trang chủ
        </div>
        <div class="SP">
            Sản phẩm
        </div>
        <div>
            Dịch vụ
        </div>
        <div>
            Giới thiệu
        </div>
        <div>
            Liên hệ
        </div> -->
        <nav class="nav">
            <ul class="main-menu">
                <li>
                   <a href="#">Trang chủ</a>
                </li>
                <li>
                    <a href="#" color>Sản phẩm</a>
                </li>
                <li>
                    <a href="#">Dịch vụ</a>
                </li>
                <li>
                    <a href="#">Giới thiệu</a>
                </li>
                <li>
                    <a href="#">Liên hệ</a>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>