<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Basic</title>
</head>
<body>
    <header></header>

    <section>
        <h1>
            Tổng quát:
        </h1>
        <pre>
            I: Khái niệm và mục đích
            II: Lợi ích: Tách biệt code 
                        Giảm thiểu code 
                        Tái sử dụng code 
                        Khai báo dễ dàng
            III: Tổng quan:
                1,Nắm được cách sử dụng CSS cơ bản:
                    -Hiểu được CSS dùng để lmj
                    -Biết cách tạo và sử dụng css cơ bản (ghi nhớ và phân loại css)
                    -Nắm được cú pháp viết css(cách thức, độ ưu tiên)
        </pre>
    </section>

    <footer></footer>

</body>
</html>
