<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cách sử dụng css</title>

    <link rel="stylesheet" href="../CSS/ex1.css">
    <link rel="stylesheet" href="../CSS/ex2.css">
    <style>
        header{
            height: 100px;
            width:100%;
            background-color:bisque;
        }
    </style>
</head>
<body class="demo">
    <header class="header" id="header" data-attr="header"></header>


    <section style="color:red">
        <pre>
            I, Cách tạo file css 
                'Tên file '.'css'
            II, Cách viết css 
                1, Viết css trên chính các element
                    toàn bộ css được đặt trong value của thuộc tính style trên element mở
                2, Viết css trong nội dung của element style 
                3, Tạo và khai báo file chứa nội dung css
                    - Nắm được quy tắc tạo file css 
                    - Biết cách nhúng file css vào file html 
                    - Nắm được các cú pháp viết css (các selector)
                    + Cú pháp:
                        'selector'{
                        key:value <=> Tên thuộc tính: Giá trị thuộc tính
                        }
                    + Ghi chú:
                        'selector' <=> element/class/attr/id (sử dụng trong th gián tiếp)
                                        (Độ ưu tiên tăng dần) ngoại lệ: !important
                                                                        viết trực tiếp
                                                                        Độ chi tiết  
                                                                        thứ tự viết code
        </pre>
    </section>

    <footer></footer>
</body>
</html>