<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/layout.css">
    <link rel="stylesheet" href="../CSS/index.css">
    
</head>
<body>
    <header>
       <nav>
            <ul class="menu-cap-1 d-flex w-100">
                <li class="option-cap-1">NAM GIỚI
                </li>
                <li class="option-cap-1">NỮ GIỚI
                </li>
                <li class="option-cap-1">VỀ CURNON
                    <div class="menu-cap-2 b-bg">
                        <ul class="curnon mt-5">
                            <li>Blog</li>
                            <li>Về chúng tôi</li>
                            <li>Long & Short</li>
                        </ul>
                    </div>
                </li>
                <li class="logo">
                    <img class="w-100" src="https://curnonwatch.com/_next/static/media/logo.cc5d661a.svg" alt="">
                </li>
                <li class="option-cap-1">GIỎ HÀNG</li>
            </ul>
       </nav>
    </header>
    <section class="page-product">
        <div class="banner">
            <img class ="w-100"src="https://curnonwatch.com/_next/image/?url=https%3A%2F%2Fcms.curnonwatch.com%2Fuploads%2Fg_forks_pc_87b0e6690e.jpg&w=1920&q=100" alt="">
        </div>
        <div class="title">MEN'S BEST SELLER</div>
        <div class="list-product d-flex">
            <div class="product-item w-25">
                <div class="product-top">
                    <div class="product-img">
                        <img class="w-100" src="https://curnonwatch.com/_next/image/?url=https%3A%2F%2Fshop.curnonwatch.com%2Fmedia%2Fcatalog%2Fproduct%2Fb%2Ft%2Fbt.gallant.png&w=1920&q=75" alt="sale-img">
                    </div>
                    <div class="product-sale">
                        <h6>-20%</h6>
                    </div>
                </div>
                <div class="product-bottom">
                    <div class="product-mid w-100">
                        <button class="w-100">
                            thêm vào giỏ hàng
                        </button>
                    </div>
                    <div class="product-bot">
                        <h4 class="mb-3">Category</h4>
                        <h3 class="mb-3">Name</h3>
                        <p class="mb-3">
                            <span>1.600.000</span>
                            <span>2.000.000</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="product-item w-25">
                <div class="product-top">
                    <div class="product-img">
                        <img class="w-100" src="https://curnonwatch.com/_next/image/?url=https%3A%2F%2Fshop.curnonwatch.com%2Fmedia%2Fcatalog%2Fproduct%2Fb%2Ft%2Fbt.gallant.png&w=1920&q=75" alt="sale-img">
                    </div>
                    <div class="product-sale">
                        <h6>-20%</h6>
                    </div>
                </div>
                <div class="product-bottom">
                    <div class="product-mid w-100">
                        <button class="w-100">
                            thêm vào giỏ hàng
                        </button>
                    </div>
                    <div class="product-bot">
                        <h4 class="mb-3">Category</h4>
                        <h3 class="mb-3">Name</h3>
                        <p class="mb-3">
                            <span>1.600.000</span>
                            <span>2.000.000</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="product-item w-25">
                <div class="product-top">
                    <div class="product-img">
                        <img class="w-100" src="https://curnonwatch.com/_next/image/?url=https%3A%2F%2Fshop.curnonwatch.com%2Fmedia%2Fcatalog%2Fproduct%2Fb%2Ft%2Fbt.gallant.png&w=1920&q=75" alt="sale-img">
                    </div>
                    <div class="product-sale">
                        <h6>-20%</h6>
                    </div>
                </div>
                <div class="product-bottom">
                    <div class="product-mid w-100">
                        <button class="w-100">
                            thêm vào giỏ hàng
                        </button>
                    </div>
                    <div class="product-bot">
                        <h4 class="mb-3">Category</h4>
                        <h3 class="mb-3">Name</h3>
                        <p class="mb-3">
                            <span>1.600.000</span>
                            <span>2.000.000</span>
                        </p>
                    </div>
                </div>
                
            </div>
            <div class="product-item w-25">
                <div class="product-top">
                    <div class="product-img">
                        <img class="w-100" src="https://curnonwatch.com/_next/image/?url=https%3A%2F%2Fshop.curnonwatch.com%2Fmedia%2Fcatalog%2Fproduct%2Fb%2Ft%2Fbt.gallant.png&w=1920&q=75" alt="sale-img">
                    </div>
                    <div class="product-sale">
                        <h6>-20%</h6>
                    </div>
                </div>
                <div class="product-bottom">
                    <div class="product-mid w-100">
                        <button class="w-100">
                            thêm vào giỏ hàng
                        </button>
                    </div>
                    <div class="product-bot">
                        <h4 class="mb-3">Category</h4>
                        <h3 class="mb-3">Name</h3>
                        <p class="mb-3">
                            <span>1.600.000</span>
                            <span>2.000.000</span>
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="news-product">
            <div class="news-title">
                TIN <span class="red">CÔNG NGHỆ</span>
            </div>
            <div class="list-news d-flex">
                <div class="news w-22 mr-2">
                    <div class="news-img mt-5">
                        <img class="w-100"src="https://devmaster.edu.vn/uploads/images/2023/08/vn-top-dev.jpg" alt="">
                    </div>
                    <div class="news-content mt-5">
                        <a href="#" >Việt Nam thiếu khoảng 150.000 đến 200.000 nhân sự mỗi năm</a>
                        <p class="mt-5">15/09/2023</p>
                        <p class="mt-5">Đến 2025, TopDev dự báo Việt Nam sẽ còn cần đến 700.000 nhân lực trong ngành công nghệ thông tin. Trong khi đó, số lượng lập trình viên hiện tại của V...
                            <a href="#"> Đọc thêm…</a>
                        </p>
                    </div>
                </div>
                <div class="news w-22 mr-2">
                    <div class="news-img mt-5">
                        <img class="w-100"src="https://devmaster.edu.vn/uploads/images/2021/11/khoa-hoc-may-tinh.jpg" alt="">
                    </div>
                    <div class="news-content mt-5">
                        <a href="#" >Việt Nam thiếu khoảng 150.000 đến 200.000 nhân sự mỗi năm</a>
                        <p class="mt-5">15/09/2023</p>
                        <p class="mt-5">Đến 2025, TopDev dự báo Việt Nam sẽ còn cần đến 700.000 nhân lực trong ngành công nghệ thông tin. Trong khi đó, số lượng lập trình viên hiện tại của V...
                            <a href="#"> Đọc thêm…</a>
                        </p>
                    </div>
                </div>
                <div class="news w-22">
                    <div class="news-img mt-5">
                        <img class="w-100"src="https://devmaster.edu.vn/uploads/images/2021/10/devmaster-xu-huo-ng-cong-nghe-dang-chu-y-trong-nam-2021.jpeg" alt="">
                    </div>
                    <div class="news-content mt-5">
                        <a href="#" >Việt Nam thiếu khoảng 150.000 đến 200.000 nhân sự mỗi năm</a>
                        <p class="mt-5">15/09/2023</p>
                        <p class="mt-5">Đến 2025, TopDev dự báo Việt Nam sẽ còn cần đến 700.000 nhân lực trong ngành công nghệ thông tin. Trong khi đó, số lượng lập trình viên hiện tại của V...
                            <a href="#"> Đọc thêm…</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer></footer>
</body>
</html>