<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animation & Product</title>
    <link rel="stylesheet" href="../CSS/menu.css">
    <link rel="stylesheet" href="../CSS/product.css">
</head>
<body>
    <header>
        <nav class="d-flex">
            <ul class="menu-cap-1">
                <li class="option">
                    <a href="#" class="link">Home</a>
                    <div class="menu-cap-2">
                        <ul>
                            <li class="list-option-2">
                                <a href="#" class="link-2">BE</a>
                                <div class="menu-cap-3">
                                    <ul>
                                        <li class="list-option-3">
                                            <a href="#" class="link-3">BE</a>
                                        </li>
                                        <li class="list-option-3">
                                            <a href="#" class="link-3">BE</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="list-option-2">
                                <a href="#" class="link-2">FE</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="option">
                    <a href="#" class="link">Contact</a>
                    <div class="menu-cap-2">
                        <ul>
                            <li class="list-option-2">
                                <a href="#" class="link-2">BE</a>
                                <div class="menu-cap-3">
                                    <ul>
                                        <li class="list-option-3">
                                            <a href="#" class="link-3">BE</a>
                                        </li>
                                        <li class="list-option-3">
                                            <a href="#" class="link-3">BE</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="list-option-2">
                                <a href="#" class="link-2">FE</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="option">
                    <a href="#" class="link">Product</a>
                    <div class="menu-cap-2">
                        <ul>
                            <li class="list-option-2">
                                <a href="#" class="link-2">BE</a>
                                <div class="menu-cap-3">
                                    <ul>
                                        <li class="list-option-3">
                                            <a href="#" class="link-3">BE</a>
                                        </li>
                                        <li class="list-option-3">
                                            <a href="#" class="link-3">BE</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="list-option-2">
                                <a href="#" class="link-2">FE</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="option">
                    <a href="#" class="link">News</a>
                    <div class="menu-cap-2">
                        <ul>
                            <li class="list-option-2">
                                <a href="#" class="link-2">BE</a>
                                <div class="menu-cap-3">
                                    <ul>
                                        <li class="list-option-3">
                                            <a href="#" class="link-3">BE</a>
                                        </li>
                                        <li class="list-option-3">
                                            <a href="#" class="link-3">BE</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="list-option-2">
                                <a href="#" class="link-2">FE</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <div class="logo">
                <img src="https://devmaster.edu.vn/uploads/images/devmaster-campaign/devmaster-lap-trinh-vien-website-php-va-mysql-chuyen-nghiep.png" alt="">
            </div>
        </nav>
    </header>

    <section class="page-content">
        <div class="banner">
            <img src="https://devmaster.edu.vn/uploads/images/2020/11/20-11-2020.jpg" alt="">
        </div>
        <div class="list">
                <div class="product" style="text-align:center; width:300px; background-color:rgba(244, 237, 229, 0.858);">
                    <div class="img-product">
                        <img src="https://curnonwatch.com/_next/image/?url=https%3A%2F%2Fshop.curnonwatch.com%2Fmedia%2Fcatalog%2Fproduct%2Fw%2Fe%2Fweb_-_kashmir_mo_i_copy_2_.png&w=640&q=75" alt="" style="width:250px">
                    </div>
                    <div class="content">

                        <div class="add-card">
                            <button>Thêm sản phẩm vào giỏ</button>
                        </div>
                        <div class="product-type" style="font-size:15px;color:rgba(0, 0, 0, 0.459)">
                            <p>KASHMIR</p>
                        </div>
                        <div class="product-name" style="color:rgba(0, 0, 0, 0.724)">
                            <p>MODISH</p>
                        </div>
                        <div class="price" style="padding-bottom:10px;">
                            <p><b>2.184.000 <sup><u>đ</u></sup></b>
                                <strike><span style="color:rgba(0, 0, 0, 0.425); padding-left:5px;text-decoration: line-through;">2.299.000</span></strike>
                                <sup><u>đ</u></sup>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="product" style="text-align:center; width:300px; background-color:rgba(244, 237, 229, 0.858);">
                    <div class="img-product">
                        <img src="https://curnonwatch.com/_next/image/?url=https%3A%2F%2Fshop.curnonwatch.com%2Fmedia%2Fcatalog%2Fproduct%2Fw%2Fe%2Fweb_-_kashmir_mo_i_copy_2_.png&w=640&q=75" alt="" style="width:250px">
                    </div>
                    <div class="content">
                        <div class="product-type" style="font-size:15px;color:rgba(0, 0, 0, 0.459)">
                            <p>KASHMIR</p>
                        </div>
                        <div class="product-name" style="color:rgba(0, 0, 0, 0.724)">
                            <p>MODISH</p>
                        </div>
                        <div class="price" style="padding-bottom:10px;">
                            <p><b>2.184.000 <sup><u>đ</u></sup></b>
                                <strike><span style="color:rgba(0, 0, 0, 0.425); padding-left:5px;text-decoration: line-through;">2.299.000</span></strike>
                                <sup><u>đ</u></sup>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="product" style="text-align:center; width:300px; background-color:rgba(244, 237, 229, 0.858);">
                    <div class="img-product">
                        <img src="https://curnonwatch.com/_next/image/?url=https%3A%2F%2Fshop.curnonwatch.com%2Fmedia%2Fcatalog%2Fproduct%2Fw%2Fe%2Fweb_-_kashmir_mo_i_copy_2_.png&w=640&q=75" alt="" style="width:250px">
                    </div>
                    <div class="content">
                        <div class="product-type" style="font-size:15px;color:rgba(0, 0, 0, 0.459)">
                            <p>KASHMIR</p>
                        </div>
                        <div class="product-name" style="color:rgba(0, 0, 0, 0.724)">
                            <p>MODISH</p>
                        </div>
                        <div class="price" style="padding-bottom:10px;">
                            <p><b>2.184.000 <sup><u>đ</u></sup></b>
                                <strike><span style="color:rgba(0, 0, 0, 0.425); padding-left:5px;text-decoration: line-through;">2.299.000</span></strike>
                                <sup><u>đ</u></sup>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="product" style="text-align:center; width:300px; background-color:rgba(244, 237, 229, 0.858);">
                    <div class="img-product">
                        <img src="https://curnonwatch.com/_next/image/?url=https%3A%2F%2Fshop.curnonwatch.com%2Fmedia%2Fcatalog%2Fproduct%2Fw%2Fe%2Fweb_-_kashmir_mo_i_copy_2_.png&w=640&q=75" alt="" style="width:250px">
                    </div>
                    <div class="content">
                        <div class="product-type" style="font-size:15px;color:rgba(0, 0, 0, 0.459)">
                            <p>KASHMIR</p>
                        </div>
                        <div class="product-name" style="color:rgba(0, 0, 0, 0.724)">
                            <p>MODISH</p>
                        </div>
                        <div class="price" style="padding-bottom:10px;">
                            <p><b>2.184.000 <sup><u>đ</u></sup></b>
                                <strike><span style="color:rgba(0, 0, 0, 0.425); padding-left:5px;text-decoration: line-through;">2.299.000</span></strike>
                                <sup><u>đ</u></sup>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="product" style="text-align:center; width:300px; background-color:rgba(244, 237, 229, 0.858);">
                    <div class="img-product">
                        <img src="https://curnonwatch.com/_next/image/?url=https%3A%2F%2Fshop.curnonwatch.com%2Fmedia%2Fcatalog%2Fproduct%2Fw%2Fe%2Fweb_-_kashmir_mo_i_copy_2_.png&w=640&q=75" alt="" style="width:250px">
                    </div>
                    <div class="content">
                        <div class="product-type" style="font-size:15px;color:rgba(0, 0, 0, 0.459)">
                            <p>KASHMIR</p>
                        </div>
                        <div class="product-name" style="color:rgba(0, 0, 0, 0.724)">
                            <p>MODISH</p>
                        </div>
                        <div class="price" style="padding-bottom:10px;">
                            <p><b>2.184.000 <sup><u>đ</u></sup></b>
                                <strike><span style="color:rgba(0, 0, 0, 0.425); padding-left:5px;text-decoration: line-through;">2.299.000</span></strike>
                                <sup><u>đ</u></sup>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="product" style="text-align:center; width:300px; background-color:rgba(244, 237, 229, 0.858);">
                    <div class="img-product">
                        <img src="https://curnonwatch.com/_next/image/?url=https%3A%2F%2Fshop.curnonwatch.com%2Fmedia%2Fcatalog%2Fproduct%2Fw%2Fe%2Fweb_-_kashmir_mo_i_copy_2_.png&w=640&q=75" alt="" style="width:250px">
                    </div>
                    <div class="content">
                        <div class="product-type" style="font-size:15px;color:rgba(0, 0, 0, 0.459)">
                            <p>KASHMIR</p>
                        </div>
                        <div class="product-name" style="color:rgba(0, 0, 0, 0.724)">
                            <p>MODISH</p>
                        </div>
                        <div class="price" style="padding-bottom:10px;">
                            <p><b>2.184.000 <sup><u>đ</u></sup></b>
                                <strike ><span style="color:rgba(0, 0, 0, 0.425); padding-left:5px;text-decoration: line-through;">2.299.000</span></strike>
                                <sup><u>đ</u></sup>
                            </p>
                        </div>
                    </div>
                </div>
                
        </div>
        
    </section>
</body>
</html>