<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EX2</title>
    <link rel="stylesheet" href="../CSS/ex2.css">
</head>
<body>
    <header>
        header
    </header>
    
    <section class="content">
        <div class="nav">
            nav 
        </div>
        <div class="body">
            <div class="left">
                Left
            </div>
            <div class="center">
                Body
            </div>
            <div class="right">
                Right
            </div>
        </div>
    </section>

    <footer>footer</footer>
</body>
</html>