<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BT</title>
</head>
<body>
    <fieldset>
        <legend>Bạn đang xem video</legend>
        <table border="1">
            <tr>
                <td rowspan="3">
                    <iframe width="500" height="300" src="https://www.youtube.com/embed/y9AKha4yf5M?si=cFuqZIwn9RA_0p82" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </td>
                <td>
                    <img src="../images/ThuyTien.jpg" alt="Thùy Tiên">
                </td>
                <td>
                    <a href="#">Nguyễn Thúc Thùy tiên</a>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="../images/ThuyTien.jpg" alt="maiphuong">
                </td>
                <td>
                    <a href="#">Huỳnh Nguyễn Mai Phương</a>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="../images/ThuyTien.jpg" alt="Phuongnhi">
                </td>
                <td>
                    <a href="#">Phương Nhi</a>
                </td>
            </tr>
        </table>
    </fieldset>
</body>
</html>