<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thẻ bố cục nội dung</title>
</head>
<body>
        <!-- start header -->
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="#">Trang chủ</a>
                    </li>
                    <li>
                        <a href="#">HTML</a>
                    </li>
                    <li>
                        <a href="#">C#</a>
                    </li>
                </ul>
            </nav>
        </header>
        <!-- end header -->

        <!-- start body -->
        <section>
            <pre>
                I: Mục tiêu:
                    1. Nắm và dùng được các phép chia bố cục và nội dung website hợp lý;
                    2. Sử dụng thành thạo các element thông dụng
            </pre>
        </section>
        <!-- end body -->
        
        <!-- start footer -->
        <footer>

        </footer>
        <!-- end footer -->
</body>
</html>