<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Table & Form</title>
</head>
<body>
    <h1>Tổng quan:</h1>
    <pre>
        I: Table
            1.Cú pháp- cấu trúc: table > thead - tbody - tfoot 
                                            tr->th/td
            2. Các thuốc tính thường dùng: rowspan, colspan,...
        II: Form - Biểu mẫu 
            1. Cú pháp- cấu trúc: 
                form: + method
                       + action
                       + Nhập liệu 
            2. Các thẻ nhập liệu:
                input : type(text, number,date,password..)
                select: option 
                textarea: 
                *) Lưu ý: với input thì mặc định type là text
                        +các thuộc tính tròn input, select, textarea:
                            -name: quy định vùng lựa chọn 
                            - id,class,attr-custom: xác định element
                            - value!=placeholder và value!=nội dung của option 
            3. Submit và reset form
                element thường dùng: input/button với type tương đương =>page sẽ bị load lại 
                                    button với type="button" =>page sẽ không bị load lại

    </pre>
</body>
</html>