<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BT</title>
</head>
<body>
    <header>
        
    </header>

    <section>
        <div class="news" style="width:400px">
            <div class="avata">
                <div class="img-avata">
                    <img src="https://devmaster.edu.vn/uploads/images/2021/11/khoa-hoc-may-tinh.jpg" alt="" style="width: 400px;">
                </div>
            </div>
            <div class="title">
                <h2>Tổng quan về khoa học máy tính</h2>
            </div>
            <div class="content" style="color:darkgrey">
                <div class="date">
                    <p>04.11.2021</p>
                </div>
                <div class="content-news">
                    <p>Khoa học máy tính là ngành học khá là hot trong những năm trở lại đây, luôn là ngành top đầu trong các trường đại học. Vậy học khoa học máy tính chúng ta sẽ học những gì?, trong bài viết này mình sẽ chia sẻ tới mọi người tổng quan về ngành khoa học máy tính được giảng dạy tại trường Đại Học Bách Khoa Hà Nội để cho mọi người có cái nhìn tổng quan nhất. Bài viết dành cho các bạn học sinh lớp 12 chuẩn bị thi THPTQG muốn tìm hiểu các ngành học trong trường hoặc là các bạn muốn tìm hiểu trong trường đại học sẽ được học những gì?, đào tạo gì? và đào tạo như thế nào?
                        ...<a href="#" style="text-decoration:none;">Đọc thêm</a>...
                    </p>
                </div>
            </div>
        </div>
    </section>

    <footer>

    </footer>
</body>
</html>