<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <!-- class là 1 giá trị để xác đinh element -->
    <header class="demo header test devmaster-ac" id="test" style="display:none">
        <h1>Tạo form login</h1>
    </header>

    <header class="test">

    </header>

    <section>
        <div class="form-login" style="background-color:#ccc; width:190px; padding:30px; margin:200px 620px">
            <div class="logo">
                <div class="img-logo">
                    <img src="https://tse3.mm.bing.net/th?id=OIP.G4indH3BM_4gIPU_AQ1_RAAAAA&pid=Api&P=0&h=180" alt="" style="border-radius:50%;margin-left:4px">
                </div>
            </div>
            <div class="content-form">
                <form action="">
                    <div class="form-input" style="margin-top: 20px;">
                        <div class="input-email">
                            <input type="email" placeholder="Email" name="email" id="email" style="
                            padding: 4px;
                            width: 180px;
                            border: 1px solid #ccc;
                        ">
                        </div>
                        <div class="input-pasword">
                            <input type="password" placeholder="Mật khẩu" name="Password" id="password" style="padding: 4px;width: 180px;border: 1px solid #ccc; border-top:0">
                        </div>
                    </div>
                    <div class="form-button">
                        <button type="button" style="margin-top: 12px;width: 190px;text-align: center;padding: 8px 0;background-color: rgb(0, 110, 255);color:  white;border-radius: 5px;border: rgb(0, 110, 255);">Đăng nhập</button>
                    </div>
                    <div class="form-help"style="margin-top: 10px;">
                        <a href="#" style="text-decoration: none;">Bạn cần trợ giúp?</a>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <footer>

    </footer>
</body>
</html>