<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review 04</title>
</head>
<body>
    <pre>
        I: Cấu trúc 1 file html 
            -head 
            -body
        II: Table và form: cú pháp và ứng dụng
            1: Table
                - Cú pháp: table >thead/tbody/tfoot >tr>th/td > element
                - các thuộc tính ứng dụng =>xây dựng lên table:
                    +gom cột, gom ô, tạo viền, tạo khoảng cách
            2: form 
                -cú pháp: form > element(...)
                -Một số thuộc tính tiêu biểu trong form: action,method,...
        III: Phân chia bố cục và nội dung:
            *) Cấu trúc của 1 thân website thông thường: header-section-footer 
            header: Thường sẽ chứa các lựa chọn điều hướng => nên sử dụng kết hợp với nav (layout)
            section: kết hợp tất cả các element
            footer: Thường là các thông tin ghi chú...(layout)

            *) Vận dụng phân chia bố cục nội dung cho từng thành phần hợp lý
    </pre>
    <header>

    </header>

    <section>
        <div>
            
        </div>
    </section>

    <footer>

    </footer>
</body>
</html>