.option-cap-1{
    padding:1.5rem 2rem;
    font-size: 0.8rem;
    color:#47423de0;
    font-weight:lighter;
    position: relative;
}
.logo{
    margin:0.5rem 20rem 0.5rem 12rem;
}
.menu-cap-2{
    position:absolute;
    top:100%;
    left:-0.1rem;
   display:none;
   opacity:1
}
@keyframes show {
    from{opacity:0;}
    to {
        opacity:1;
    }
}
.option-cap-1:hover .menu-cap-2{
    animation-name: show;
    animation-duration: 0.5s;
    display: block;
}
.menu-cap-2 .curnon li{
   text-align: center;
   width:8rem;
   margin-bottom: 0.6rem;
   font-size: large;
   font-weight:600;
    color:rgba(128, 128, 128, 0.646);
}
.menu-cap-2 .curnon li:hover{
    background-color: #cccccc59;
}
.Nam{
    position:absolute;
    top:100%;
    left:0;
    width:75.9rem;
}


.title{
    font-size: 2rem;
    text-align: center;
    margin:2rem 0;
    
}
.page-product .product-top{
    position:relative;
}

.page-product .product-sale{
    position: absolute;
    background-color: red;
    padding: 6px 10px;
    border-radius:4px;
    top: 2rem;
    left:1rem;
}
.page-product .product-item{
    position: relative;
}
.page-product .product-mid{
    position:absolute;
    top:50%;
    left:0;
    display: none;
}
.page-product .product-mid button{
    padding: 0.5rem;
}
.page-product .product-bot{
    text-align: center;
}
.page-product .product-item:hover .product-mid{
    display: block;

}
.page-product .product-item:hover{
    -webkit-box-shadow: 0px -3px 24px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -3px 24px 3px rgba(0,0,0,0.75);
    box-shadow: 0px -3px 24px 3px rgba(0,0,0,0.75);
}
.list-product{
    width:80%;
    margin: auto;
}
@keyframes zoom {
    from{
        scale:1
    }
    to{
        scale:1.5
    }
}
.product-top .product-img img:hover{
    animation-name:zoom;
    animation-duration: 1s;
    scale:1.5;
}
.product-top .product-img{
    overflow: hidden;

}
@media screen and (max-width:1015px){
    .w-25{
        width:50%;
    }
    .w-22{
        width:100%;
    }
}
.news-product{
    margin-top:5rem;
}
.news-title{
    font-size:2rem;
    text-align: center;
    font-weight: 500;
}
.news-title .red{
    color:red;
}
.news-product .list-news{
    width: 80%;
    margin:auto;
}

.news-content > a{
    font-size:1.3rem;
    color:#332F2C;
    font-weight: 600;
}
.news-content a:hover{
    color:blue;
}
.news .news-img img{
    border-radius: 10px;
}
.news .news-img img:hover{
    animation-name: zoom;
    animation-duration: 1s;
    scale:1.5;
}
.news .news-img{
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 32px -5px rgba(87,84,87,1);
-moz-box-shadow: 0px 0px 32px -5px rgba(87,84,87,1);
box-shadow: 0px 0px 32px -5px rgba(87,84,87,1);
}

.news-content :nth-child(2){
    font-size:0.8rem;
    color:#47423D;
}
.news-content :last-child{
    color:gray;
}
.news-content :last-child > a{
    color:#47423D;
}
.news-content :last-child > a:hover{
    color:red;
}
