/* .menu-nu{
    position:absolute;
    top:100%;
    left:-135px;
    width:1480px;
    height:300px;
    background-color: whitesmoke;
    border-top: 1px solid #ccc;
    padding:30px;
    display: none;
}
.option-cap-1:hover .menu-nu{
    display: block;
}
.menu-nu  .option2{
    padding: 30px;
    border-right: 1px solid #ccc;
    width: 300px;
    position: relative;
}
.menu-nu .option2 a{
    color:rgba(0, 0, 0, 0.58);
   font-size: 30px;
   font-weight: 550;
   
}

.option2:hover .vong-tay{
    display: flex;
}
.option2:hover a{
    color:black;
}
.vong-tay{
    position:absolute;
    display:flex;
    top:0%;
    left:100%;
    width: 800px;
    padding-left: 150px;
    margin-top: 15px;
    display: none;
}
.img-vong-tay img{
    width: 250px;
}
.content{
    margin: 50px;
    width:250px;
    font-size: 18px;
}
.vong-tay .content a{
    background-color: black;
    color:aliceblue;
    font-size: 20px;
    font-weight: 400;
    padding:10px 5px;
    
}
.dong-ho{
    margin-bottom:20px;
    top:-80%;
}
.qua-tang{
    top:-180px;
}
.main-section h2:hover h3{
    color:red;
} */
.nam{
    position:absolute;
    top:100%;
    left:0;
    background-color: whitesmoke;
    width:1519px;
    height:350px;
    border: 1px solid #ccc;
    padding-top: 30px;
    display: none;
}
.nam .option-nam{
    padding:20px 150px;
    font-size: 30px;
    font-weight: 550;
    color: rgba(0, 0, 0, 0.555);
    border-right: 1px solid #ccc;
    width: 200px;
    position:relative;
}

.option-cap-1:hover .nam{
    display:block;
}

.nam .option-nam:hover{
    color:black;
}

.dong-ho-nam{
    position:absolute;
    display: flex;
    top:15%;
    left: 100%;
    width: 900px;
    padding-left: 50px;
    height: 300px;
    flex-wrap: wrap;
    display: none;
}
.Kashmir a img{
    width:100px;
    background-color: #cccccc53;
    border-radius:50%;

}
.Kashmir a{
    font-size: 18px;
    font-weight: 100;
    color:rgba(0, 0, 0, 0.785)
}
.Kashmir{
    width:150px;
    height: 150px;
    text-align: center;
    margin-right: 10px;
}
.nam .option-nam:hover .dong-ho-nam{
    display: flex;
}