<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lap2_BT3</title>
</head>
<body>
    <form action="" >
        <table align="center" border="0px" width="500px">
            <caption><h2>Đăng ký thành viên</h2></caption>
            <tr>
                <td>Họ và Tên</td>
                <td >
                    <input type="text" name="name" id="txtName" placeholder="Nguyễn Văn A" >
                </td>
            </tr>
            <tr>
                <td>Tên đăng nhập</td>
                <td >
                    <input type="text" name="username" id="txtUsername" >
                </td>
            </tr>
            <tr>
                <td>Mật khẩu</td>
                <td >
                    <input type="password" name="matkhau" id="psMatKhau">
                </td>
            </tr>
            <tr>
                <td>Ảnh đại diện</td>
                <td >
                    <input type="file" name="avata" id="avata">
                </td>
            </tr>
            <tr>
                <td>Email</td>
                <td>
                    <input type="email" name="email">
                </td>
            </tr>
            <tr>
                <td>Giới tính</td>
                <td>
                    <input type="radio" name="gender" id="nam" >Nam
                    <input type="radio" name="gender" id="nu" >Nữ
                </td>
            </tr>
            <tr>
                <td>Sở thích</td>
                <td>
                    <input type="checkbox" name="hobby" id="Bóng đá">Bóng đá
                    <input type="checkbox" name="hobby" id="Xem phim">Xem phim
                    <input type="checkbox" name="hobby" id="Du lịch">Du lịch
                </td>
            </tr>
            <tr>
                <td>Quê quán</td>
                <td>
                    <select name="province" id="province">
                        <option value="">--Chọn tỉnh</option>
                        <option value="">Hà Nội</option>
                        <option value="">Nam Định</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Mô tả ngắn</td>
                <td>
                    <textarea name="description" id="description" cols="30" rows="10"></textarea>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Đăng Ký" name="register">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>