<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lap2_BT1</title>
</head>
<body>
    <table align="center" border="1px" width="500px" cellpadding="2">
        <caption><h2>Blackpink-Rose</h2></caption>
        <tr>
            <td rowspan="4" align="center">
                <img src="../images/Rose.jpg" alt="Rose">
            </td>
            <td colspan="4" align="center">Ngày sinh: 28/02/1997</td>
        </tr>
        <tr>
            <td colspan="3" align="center">Điểm thi</td>
            <td rowspan="2" align="center">Điểm TB</td>
        </tr>
        <tr>
            <td align="center">Toán</td>
            <td align="center">Văn</td>
            <td align="center">Anh</td>
        </tr>
        <tr>
            <td align="center">9</td><td align="center">8</td>
            <td align="center">7</td><td align="center">8</td>
        </tr>
    </table>
    
</body>
</html>